@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes moveLeft {
  0% {
    transform: translateX(100%);
    transform-origin: right;
  }

  100% {
    transform: translateX(0);
    transform-origin: right;
  }
}

@keyframes increaseHeight {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }

  100% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
}

@keyframes animateRulesItem {
  0% {
    transform: translateX(5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateRulesItemCircle {
  0% {
    color: transparent;
    transform: scale(0);
  }

  40% {
    color: transparent;
  }

  100% {
    transform: scale(1);
    color: $c-light;
  }
}

@keyframes animateRulesButton {
  0% {
    color: transparent;
    transform: scaleX(0);
  }

  50% {
    color: transparent;
    transform: scaleX(1);
  }

  100% {
    color: $c-dark;
  }
}

@keyframes animateSliderControlPrev {
  0% {
    opacity: 0;
    transform: translate3d(-10rem, 0, 0) rotate(-180deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}

@keyframes animateSliderControlNext {
  0% {
    opacity: 0;
    transform: translate3d(10rem, 0, 0) rotate(180deg);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotate(0);
  }
}
